/* Social Icons for Footer from https://codepen.io/deutschland2k/pen/qKpdJX */

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 2.125rem;
  height: 2.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 1.5em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter,
.fa-facebook-f,
.fa-linkedin,
.fa-github,
.fa-orcid,
.fa-researchgate,
.fa-envelope,
.fa-weibo,
.fa-instagram{
  font-size: 25px;
}

.rounded-social-buttons .social-button.weibo {
  color: #afafaf;
}

.rounded-social-buttons .social-button.weibo:hover, .rounded-social-buttons .social-button.weibo:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.instagram {
  color: #afafaf;
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}
